# Olympic Sports and Medals, 1896-2014

### Which countries and athletes have won the most medals at the Olympic games?

https://www.kaggle.com/datasets/the-guardian/olympic-games

![image](../../Images/OlympicMedals.png)

### Library & Data Import

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../Datasets/OlympicMedals.csv')

In [3]:
df

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold
...,...,...,...,...,...,...,...,...,...
5765,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze
5766,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold
5767,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver
5768,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold
5769,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze

#### 데이터에서 한국 KOR 데이터만 추출하라.

In [4]:
kr = df[df.Country=='KOR']

kr

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
2652,1992,Albertville,Skating,Short Track Speed Skating,"LEE, Jun-Ho",KOR,Men,1000M,Bronze
2653,1992,Albertville,Skating,Short Track Speed Skating,"KIM, Ki-Hoon",KOR,Men,1000M,Gold
2671,1992,Albertville,Skating,Short Track Speed Skating,"KIM, Ki-Hoon",KOR,Men,5000M Relay,Gold
2672,1992,Albertville,Skating,Short Track Speed Skating,"LEE, Jun-Ho",KOR,Men,5000M Relay,Gold
2673,1992,Albertville,Skating,Short Track Speed Skating,"MO, Ji-Soo",KOR,Men,5000M Relay,Gold
...,...,...,...,...,...,...,...,...,...
5528,2014,Sochi,Skating,Short Track Speed Skating,"PARK, Seung-Hi",KOR,Women,500M,Bronze
5544,2014,Sochi,Skating,Speed skating,"JOO, Hyong Jun",KOR,Men,Team Pursuit,Silver
5545,2014,Sochi,Skating,Speed skating,"KIM, Cheol Min",KOR,Men,Team Pursuit,Silver
5546,2014,Sochi,Skating,Speed skating,"LEE, Seung Hoon",KOR,Men,Team Pursuit,Silver
5565,2014,Sochi,Skating,Speed skating,"LEE, Sang Hwa",KOR,Women,500M,Gold

#### 한국 올림픽 메달리스트 데이터에서 년도에 따른 medal 갯수를 데이터프레임화 하라.

In [6]:
new_df = kr.pivot_table(index='Year',columns='Medal',aggfunc='size').fillna(0)

new_df

Medal  Bronze  Gold  Silver
Year
1992      1.0   5.0     1.0
1994      1.0   8.0     1.0
1998      2.0   6.0     4.0
2002      0.0   5.0     2.0
2006      2.0  14.0     3.0
2010      2.0   6.0    10.0
2014      2.0   7.0     5.0

#### 전체 데이터에서 sport종류에 따른 성별수를 구하여라.

In [7]:
new_df = df.pivot_table(index='Sport',columns='Gender',aggfunc='size')

new_df

Gender       Men  Women
Sport
Biathlon     270    150
Bobsleigh    416     36
Curling       97     75
Ice Hockey  1231    305
Luge         135     45
Skating      665    564
Skiing      1130    651

#### 전체 데이터에서 Discipline종류에 따른 따른 Medal수를 구하여라.

In [8]:
new_df = df.pivot_table(index='Discipline',columns='Medal',aggfunc='size')

new_df

Medal                      Bronze  Gold  Silver
Discipline
Alpine Skiing                 141   143     144
Biathlon                      139   140     141
Bobsleigh                     147   134     141
Cross Country Skiing          263   264     262
Curling                        56    58      58
Figure skating                118   122     119
Freestyle Skiing               34    34      34
Ice Hockey                    512   510     514
Luge                           60    62      58
Nordic Combined                55    55      55
Short Track Speed Skating      96    97      97
Skeleton                       10    10      10
Ski Jumping                    68    69      70
Snowboard                      30    30      30
Speed skating                 190   193     197