# Iris Flower Dataset

### Iris flower data set used for multi-class classification.

https://archive.ics.uci.edu/ml/datasets/iris

![image.png](../../Images/Iris.png)

### Library & Data Import

In [2]:
import pandas as pd
import numpy as np

In [3]:
Iris_df = pd.read_csv('../../Datasets/Iris.csv')

In [4]:
Iris_df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

#### Iris 데이터 세트에서 species 변수 값별로 petal_width 상위 25% 값을 구한 후, 가장 큰 값과 가장 작은 값 사이의 차이를 계산하시오.

In [5]:
Iris_df.groupby('species')['petal_width'].quantile([0.75]).to_frame()

                 petal_width
species
setosa     0.75          0.3
versicolor 0.75          1.5
virginica  0.75          2.3

In [6]:
ans = int(Iris_df.groupby('species')['petal_width'].quantile([0.75]).max()) 
                    - int(Iris_df.groupby('species')['petal_width'].quantile([0.75]).min())

print(ans)

IndentationError: unexpected indent (3983540341.py, line 2)

#### Iris 데이터 세트에서 sepal_length 변수의 전체 값들을 중복 없이 리스트로 만든 후, <br> 오름차순으로 정렬했을 때 리스트의 10번째 오는 숫자를 계산하시오.

In [ ]:
lst = Iris_df['sepal_length'].unique().tolist()

In [7]:
lst.sort()

print(lst)

NameError: name 'lst' is not defined

In [8]:
ans = lst[9]

print(ans)

NameError: name 'lst' is not defined

#### Iris 데이터 세트를 sepal_width 변수 값으로 내림차순한 후 위에서부터 100개 행을 학습데이터로 분리하고, <br> 학습데이터에서 sepal_width의 표준편차 값을 구한 후 50을 곱한 값을 계산하시오. (최종 계산 값의 소수점 이하는 반올림한다.)

In [9]:
sorted_data = Iris_df.sort_values(by='sepal_width', ascending=False).reset_index(drop=True)

sorted_data

     sepal_length  sepal_width  petal_length  petal_width     species
0             5.7          4.4           1.5          0.4      setosa
1             5.5          4.2           1.4          0.2      setosa
2             5.2          4.1           1.5          0.1      setosa
3             5.8          4.0           1.2          0.2      setosa
4             5.4          3.9           1.3          0.4      setosa
..            ...          ...           ...          ...         ...
145           6.3          2.3           4.4          1.3  versicolor
146           6.0          2.2           4.0          1.0  versicolor
147           6.2          2.2           4.5          1.5  versicolor
148           6.0          2.2           5.0          1.5   virginica
149           5.0          2.0           3.5          1.0  versicolor

[150 rows x 5 columns]

In [10]:
sorted_data_split = sorted_data.loc[0:99] # 또는 sorted_data.head(100)

sorted_data_split

    sepal_length  sepal_width  petal_length  petal_width     species
0            5.7          4.4           1.5          0.4      setosa
1            5.5          4.2           1.4          0.2      setosa
2            5.2          4.1           1.5          0.1      setosa
3            5.8          4.0           1.2          0.2      setosa
4            5.4          3.9           1.3          0.4      setosa
..           ...          ...           ...          ...         ...
95           6.4          2.9           4.3          1.3  versicolor
96           6.3          2.9           5.6          1.8   virginica
97           5.6          2.9           3.6          1.3  versicolor
98           5.7          2.9           4.2          1.3  versicolor
99           6.2          2.9           4.3          1.3  versicolor

[100 rows x 5 columns]

In [11]:
ans = int(sorted_data_split['sepal_width'].std() * 50)

print(ans)

16

#### Iris 데이터 세트에서 species 변수 값별로 petal_length 상위 10개 행(큰 값)의 평균값을 구한 후, 평균값의 합을 계산하시오. <br> (최종 계산값의 소수점 이하는 반올림한다.)

In [12]:
Iris_df = Iris_df.sort_values(by=['species', 'petal_length'], ascending = [True, False])

Iris_df

     sepal_length  sepal_width  petal_length  petal_width    species
24            4.8          3.4           1.9          0.2     setosa
44            5.1          3.8           1.9          0.4     setosa
5             5.4          3.9           1.7          0.4     setosa
18            5.7          3.8           1.7          0.3     setosa
20            5.4          3.4           1.7          0.2     setosa
..            ...          ...           ...          ...        ...
123           6.3          2.7           4.9          1.8  virginica
127           6.1          3.0           4.9          1.8  virginica
126           6.2          2.8           4.8          1.8  virginica
138           6.0          3.0           4.8          1.8  virginica
106           4.9          2.5           4.5          1.7  virginica

[150 rows x 5 columns]

In [13]:
Iris_df_top10 = Iris_df.groupby('species').head(10)

Iris_df_top10

     sepal_length  sepal_width  petal_length  petal_width     species
24            4.8          3.4           1.9          0.2      setosa
44            5.1          3.8           1.9          0.4      setosa
5             5.4          3.9           1.7          0.4      setosa
18            5.7          3.8           1.7          0.3      setosa
20            5.4          3.4           1.7          0.2      setosa
23            5.1          3.3           1.7          0.5      setosa
11            4.8          3.4           1.6          0.2      setosa
25            5.0          3.0           1.6          0.2      setosa
26            5.0          3.4           1.6          0.4      setosa
29            4.7          3.2           1.6          0.2      setosa
83            6.0          2.7           5.1          1.6  versicolor
77            6.7          3.0           5.0          1.7  versicolor
52            6.9          3.1           4.9          1.5  versicolor
72            6.3          2.5           4.9          1.5  versicolor
70            5.9          3.2           4.8          1.8  versicolor
76            6.8          2.8           4.8          1.4  versicolor
50            7.0          3.2           4.7          1.4  versicolor
56            6.3          3.3           4.7          1.6  versicolor
63            6.1          2.9           4.7          1.4  versicolor
73            6.1          2.8           4.7          1.2  versicolor
118           7.7          2.6           6.9          2.3   virginica
117           7.7          3.8           6.7          2.2   virginica
122           7.7          2.8           6.7          2.0   virginica
105           7.6          3.0           6.6          2.1   virginica
131           7.9          3.8           6.4          2.0   virginica
107           7.3          2.9           6.3          1.8   virginica
109           7.2          3.6           6.1          2.5   virginica
130           7.4          2.8           6.1          1.9   virginica
135           7.7          3.0           6.1          2.3   virginica
100           6.3          3.3           6.0          2.5   virginica

In [14]:
print(round(Iris_df_top10.groupby('species')['petal_length'].mean().sum()))

13

#### Iris 데이터 세트에서 sepal_length 변수가 이상치를 가지는 데이터 행 수를 계산하시오. <br> (단, 이상치 범위는 (평균 + 2*표준편차)이상이거나 (평균 - 2*표준편차)이하이다.)

In [15]:
mean = Iris_df['sepal_length'].mean()
std = Iris_df['sepal_length'].std()

crit1 = mean + 2 * std
crit2 = mean - 2 * std

ans = Iris_df[(Iris_df['sepal_length'] >= crit1) | (Iris_df['sepal_length'] <= crit2)]

ans

     sepal_length  sepal_width  petal_length  petal_width    species
118           7.7          2.6           6.9          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
122           7.7          2.8           6.7          2.0  virginica
105           7.6          3.0           6.6          2.1  virginica
131           7.9          3.8           6.4          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica

In [16]:
print(len(ans))

6