# Wine Chemical Analysis Data Set

### These data are the results of a chemical analysis of wines grown in the same region in Italy <br> but derived from three different cultivars.

https://archive.ics.uci.edu/ml/datasets/wine

![image.png](../../Images/Wine.png)

### Library & Data Import

In [1]:
import pandas as pd
import numpy as np

In [2]:
wine_df = pd.read_csv('../../Datasets/Wine.csv')

In [3]:
wine_df

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,class
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,NaN,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0,2
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0,2
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0,2
176,13.17,2.59,2.37,NaN,120.0,NaN,0.68,0.53,1.46,9.30,0.60,1.62,840.0,2
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0,2

In [4]:
wine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   alcohol                       178 non-null    float64
 1   malic_acid                    178 non-null    float64
 2   ash                           178 non-null    float64
 3   alcalinity_of_ash             168 non-null    float64
 4   magnesium                     178 non-null    float64
 5   total_phenols                 163 non-null    float64
 6   flavanoids                    178 non-null    float64
 7   nonflavanoid_phenols          178 non-null    float64
 8   proanthocyanins               178 non-null    float64
 9   color_intensity               178 non-null    float64
 10  hue                           178 non-null    float64
 11  od280/od315_of_diluted_wines  178 non-null    float64
 12  proline                       178 non-null    float64
 13  class                         178 non-null    int64
dtypes: float64(13), int64(1)
memory usage: 19.6 KB

#### Wine 데이터 세트에서 total_phenols 결측치를 제거하고 alcalinity_of_ash 변수의 결측치는 중앙값으로 대체한 후, <br> alcalinity_of_ash 평균값을 계산하시오.(최종 계산 값의 소수점 이하는 버린다.)

In [5]:
data_drop = wine_df[wine_df['total_phenols'].notnull()]

med = data_drop['alcalinity_of_ash'].median()

print(med)

19.5

In [6]:
data_drop.loc[data_drop['alcalinity_of_ash'].isnull(), 'alcalinity_of_ash'] = med

ans = round(data_drop['alcalinity_of_ash'].mean(), 3)

print(ans)

19.398

#### Wine 데이터 세트에서 alcohol 값이 alcohol 평균 값 이상이고, <br>color_intensity 값이 color_intensity 평균 값 이상인 데이터만 남겼을 때, 가장 많은 class 값을 구하시오.

In [7]:
mean_val1 = wine_df['alcohol'].mean()
mean_val2 = wine_df['color_intensity'].mean()

print(mean_val1, mean_val2)

13.000617977528083 5.058089882022473

In [8]:
data_filtered = wine_df[(wine_df['alcohol'] >= mean_val1) & (wine_df['color_intensity'] >= mean_val2)]

data_filtered

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,class
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
2,13.16,2.36,2.67,18.6,101.0,NaN,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
5,14.20,1.76,2.45,15.2,112.0,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450.0,0
6,14.39,1.87,2.45,14.6,96.0,2.50,2.52,0.30,1.98,5.25,1.02,3.58,1290.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0,2
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0,2
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0,2
176,13.17,2.59,2.37,NaN,120.0,NaN,0.68,0.53,1.46,9.30,0.60,1.62,840.0,2
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0,2

In [9]:
data_filtered['class'].value_counts()

0    37
2    23
1     1
Name: class, dtype: int64

In [10]:
ans = data_filtered['class'].value_counts().idxmax() # idxmax() 인덱스의 최대값을 구하는 함수

print(ans)

0

#### Wine 데이터 세트에서 class 1에 해당하는 데이터의 ash 평균값과 Wine 데이터 세트의 모든 결측치를 제거한 후의 <br> ash 값의 평균값의 차이를 절댓값을 계산하시오. (최종 계산 값의 소수점 아래 4번째 자리에서 반올림한다.)

In [11]:
data_filtered.head(1).T

                                    0
alcohol                         14.23
malic_acid                       1.71
ash                              2.43
alcalinity_of_ash               15.60
magnesium                      127.00
total_phenols                    2.80
flavanoids                       3.06
nonflavanoid_phenols             0.28
proanthocyanins                  2.29
color_intensity                  5.64
hue                              1.04
od280/od315_of_diluted_wines     3.92
proline                       1065.00
class                            0.00

In [12]:
val1 = wine_df[wine_df['class'] == 1]['ash'].mean()
val2 = wine_df.dropna()['ash'].mean()

print(val1, val2)

2.244788732394365 2.364516129032258

In [13]:
print(round(abs(val1-val2), 3))

0.12

#### Wine 데이터 세트에서 alcohol 변수의 상위에서 20번째 값 alcohol을 오름차순 정렬했을 때 20번째에 위치한 값)으로 상위 20개의 값을 변환한 후, proanthocyanins가 2 이하인 데이터를 추출하여 alcohol의 평균값을 계산하시오. (최종 계산 값의 소수점 아래 3번째 자리에서 반올림 한다.)

In [14]:
data_sorted = wine_df.sort_values(by='alcohol', axis=0, ascending = True)

data_sorted

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,class
115,11.03,1.51,2.20,NaN,85.0,2.46,2.17,0.52,2.01,1.90,1.71,2.87,407.0,1
113,11.41,0.74,2.50,21.0,88.0,2.48,2.01,0.42,1.44,3.08,1.10,2.31,434.0,1
120,11.45,2.40,2.42,20.0,96.0,2.90,2.79,0.32,1.83,3.25,0.80,3.39,625.0,1
110,11.46,3.74,1.82,19.5,107.0,3.18,2.58,0.24,3.58,2.90,0.75,2.81,562.0,1
121,11.56,2.05,3.23,28.5,119.0,NaN,5.08,0.47,1.87,6.00,0.93,3.69,465.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46,14.38,3.59,2.28,16.0,102.0,3.25,3.17,0.27,2.19,4.90,1.04,3.44,1065.0,0
14,14.38,1.87,2.38,12.0,102.0,3.30,3.64,0.29,2.96,7.50,1.20,3.00,1547.0,0
6,14.39,1.87,2.45,14.6,96.0,2.50,2.52,0.30,1.98,5.25,1.02,3.58,1290.0,0
13,14.75,1.73,2.39,11.4,91.0,3.10,3.69,0.43,2.81,5.40,1.25,2.73,1150.0,0
8,14.83,1.64,2.17,14.0,97.0,2.80,2.98,0.29,1.98,5.20,1.08,2.85,1045.0,0

In [15]:
data_sorted = data_sorted.reset_index(drop=True)

data_sorted.head(10)

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,class
0,11.03,1.51,2.20,NaN,85.0,2.46,2.17,0.52,2.01,1.90,1.71,2.87,407.0,1
1,11.41,0.74,2.50,21.0,88.0,2.48,2.01,0.42,1.44,3.08,1.10,2.31,434.0,1
2,11.45,2.40,2.42,20.0,96.0,2.90,2.79,0.32,1.83,3.25,0.80,3.39,625.0,1
3,11.46,3.74,1.82,19.5,107.0,3.18,2.58,0.24,3.58,2.90,0.75,2.81,562.0,1
4,11.56,2.05,3.23,28.5,119.0,NaN,5.08,0.47,1.87,6.00,0.93,3.69,465.0,1
5,11.61,1.35,2.70,20.0,94.0,2.74,2.92,0.29,2.49,2.65,0.96,3.26,680.0,1
6,11.62,1.99,2.28,18.0,98.0,3.02,2.26,0.17,1.35,3.25,1.16,2.96,345.0,1
7,11.64,2.06,2.46,21.6,84.0,1.95,1.69,0.48,1.35,2.80,1.00,2.75,680.0,1
8,11.65,1.67,2.62,26.0,88.0,1.92,1.61,0.40,1.34,2.60,1.36,3.21,562.0,1
9,11.66,1.88,1.92,16.0,97.0,1.61,1.57,0.34,1.15,3.80,1.23,2.14,428.0,1

In [16]:
data_sorted.loc[0:19, 'alcohol'] = data_sorted.loc[19, 'alcohol']

data_sorted.head(10)

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,class
0,12.0,1.51,2.20,NaN,85.0,2.46,2.17,0.52,2.01,1.90,1.71,2.87,407.0,1
1,12.0,0.74,2.50,21.0,88.0,2.48,2.01,0.42,1.44,3.08,1.10,2.31,434.0,1
2,12.0,2.40,2.42,20.0,96.0,2.90,2.79,0.32,1.83,3.25,0.80,3.39,625.0,1
3,12.0,3.74,1.82,19.5,107.0,3.18,2.58,0.24,3.58,2.90,0.75,2.81,562.0,1
4,12.0,2.05,3.23,28.5,119.0,NaN,5.08,0.47,1.87,6.00,0.93,3.69,465.0,1
5,12.0,1.35,2.70,20.0,94.0,2.74,2.92,0.29,2.49,2.65,0.96,3.26,680.0,1
6,12.0,1.99,2.28,18.0,98.0,3.02,2.26,0.17,1.35,3.25,1.16,2.96,345.0,1
7,12.0,2.06,2.46,21.6,84.0,1.95,1.69,0.48,1.35,2.80,1.00,2.75,680.0,1
8,12.0,1.67,2.62,26.0,88.0,1.92,1.61,0.40,1.34,2.60,1.36,3.21,562.0,1
9,12.0,1.88,1.92,16.0,97.0,1.61,1.57,0.34,1.15,3.80,1.23,2.14,428.0,1

In [17]:
ans = round(data_sorted[data_sorted['proanthocyanins']<=2]['alcohol'].mean(), 2)

print(ans)

12.97

#### Wine 데이터 세트에서 class 1에 해당하는 데이터의 proline 변수의 제 3사분위수와 제 1사분위수 차를 구하고, <br> class 2에 해당하는 데이터의 proline 변수의 제 3사분위수와 제 1사분위 수 차를 구하여 두 값의 차이를 절댓값을 계산하시오.

In [18]:
class1_q1, class1_q3 = wine_df[wine_df['class'] == 1]['proline'].quantile([0.25, 0.75])
class2_q1, class2_q3 = wine_df[wine_df['class'] == 2]['proline'].quantile([0.25, 0.75])

ans = abs((class1_q3 - class1_q1) - (class2_q3 - class2_q1))

print(ans)

68.5